@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #0832be;
    --primary-color-gradient: linear-gradient(to right, #17009f, #000aff);
    --secondary-color: #353535;
}

.color-primary {
    color: var(--primary-color);
}

.text-primary-gradient {
    background: var(--primary-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}